/*.container1 {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  color: red;
  font-size: 14px;
  font-weight: 300;
  background-color:

}
.container2 {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  color: green;
  font-size: 14px;
  font-weight: 300;

}
*/

#ABC{
 background-color: #DEE7E7;
            }
/*.section.bg {
  background: #4F646F;
}
*/
/* 
  Columns 
*/
.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

.col.three {
  width: 31.3%;
  margin: 0 1%;
}
/*
  Column specifics
*/
.col .imgholder {
  height: 0px;
  width: 0;
  background: white;
}
/*
  Text
*/
h2 {
  font-family:sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
}
.col h3 {
  text-align: center;
}
.col h1 {
  text-align: center;}

ul.nav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #4f646f;
}
li.nav {
float: left;
border-right: 1px solid #dee7e7;
font-family: Verdana
}
li.nav:last-child {
border-right: none;
}
li.nav a, .dropbtn {
display: inline-block;
color: #f4faff;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
background-color: lightgreen;
}
li.dropdown {
display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
display: block;
}
